In [33]:
import pandas as pd
data = pd.read_csv(r'swiggy.csv',  encoding='unicode_escape')
data.head()

C:\Users\Sandhya\AppData\Local\Temp\ipykernel_20624\848331988.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(r'swiggy.csv',  encoding='unicode_escape')

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335.0,AB FOODS POINT,Abohar,--,Too Few Ratings,¹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342.0,Janta Sweet House,Abohar,4.4,50+ ratings,¹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203.0,theka coffee desi,Abohar,3.8,100+ ratings,¹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912.0,Singh Hut,Abohar,3.7,20+ ratings,¹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530.0,GRILL MASTERS,Abohar,--,Too Few Ratings,¹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [34]:
data.columns

Index(['id', 'name', 'city', 'rating', 'rating_count', 'cost', 'cuisine',
       'lic_no', 'link', 'address', 'menu'],
      dtype='object')

In [35]:
data.drop(["id", "lic_no", "link", "address", "menu"], axis=1, inplace=True)

In [36]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148547 entries, 0 to 148546
Data columns (total 6 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   name          148461 non-null  object
 1   city          148541 non-null  object
 2   rating        148455 non-null  object
 3   rating_count  148455 non-null  object
 4   cost          148410 non-null  object
 5   cuisine       148442 non-null  object
dtypes: object(6)
memory usage: 6.8+ MB

In [37]:
data.isnull().sum()

name             86
city              6
rating           92
rating_count     92
cost            137
cuisine         105
dtype: int64

In [38]:
data[data['name'].isnull()]

       name                       city rating rating_count cost cuisine
31044   NaN  Greater Mohali,Chandigarh    NaN          NaN  NaN     NaN
32912   NaN        West Chd,Chandigarh    NaN          NaN  NaN     NaN
33046   NaN        West Chd,Chandigarh    NaN          NaN  NaN     NaN
33488   NaN       South Chd,Chandigarh    NaN          NaN  NaN     NaN
36492   NaN        George Town,Chennai    NaN          NaN  NaN     NaN
...     ...                        ...    ...          ...  ...     ...
137128  NaN                     Satara    NaN          NaN  NaN     NaN
137552  NaN                   Shillong    NaN          NaN  NaN     NaN
137620  NaN                 Shivamogga    NaN          NaN  NaN     NaN
138386  NaN                      Sirsa    NaN          NaN  NaN     NaN
141574  NaN         Thiruvananthapuram    NaN          NaN  NaN     NaN

[86 rows x 6 columns]

In [39]:
data.dropna(inplace=True)
data.isnull().sum()

name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64

In [40]:
# Remove currency symbols and convert to numeric
data['cost'] = data['cost'].str.replace('₹', '').str.replace(',', '')
data['cost'] = data['cost'].fillna(200)
data['cuisine'] = data['cuisine'].fillna('multicuisine')

In [41]:
data.isnull().sum()

name            0
city            0
rating          0
rating_count    0
cost            0
cuisine         0
dtype: int64

In [42]:
data.duplicated().sum()
# Remove duplicate rows
data.drop_duplicates(inplace=True)

In [43]:
data['rating'] = (
	data['rating']
	.str.replace('Too Few Ratings', '0')
	.str.replace('--', '0')
	.str.replace('-', '0')
	.astype(float)
)

In [44]:
# Remove unwanted characters and convert to int, handling empty strings safely
data['cost'] = (
	data['cost']
	.astype(str)
	.str.replace(r'[^\d]', '', regex=True)
)
data['cost'] = pd.to_numeric(data['cost'], errors='coerce').fillna(200).astype(int)

In [45]:
data.reset_index(drop=True, inplace=True)

In [46]:
data.head()

,name,city,rating,rating_count,cost,cuisine
0,AB FOODS POINT,Abohar,0.0,Too Few Ratings,200,"Beverages,Pizzas"
1,Janta Sweet House,Abohar,4.4,50+ ratings,200,"Sweets,Bakery"
2,theka coffee desi,Abohar,3.8,100+ ratings,100,Beverages
3,Singh Hut,Abohar,3.7,20+ ratings,250,"Fast Food,Indian"
4,GRILL MASTERS,Abohar,0.0,Too Few Ratings,250,"Italian-American,Fast Food"

In [47]:
data.shape

(148388, 6)

In [48]:
data.to_csv(r"cleaned_data.csv", index=False)